# ------------------------------------------------------------------------------
# PYTHON
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
.venv/

# Local configuration
*.env
.env.*
*.local
*.ini

# Allow example env files
!.env.*.example
!.env.local.example

# Byte-compiled / packages
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
pip-log.txt

# ------------------------------------------------------------------------------
# DJANGO
# ------------------------------------------------------------------------------
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Django cache / session
*.cache
*.mo
*.pot

/media/blog_body_images/*
/media/blog_main_images/*
!/media/.gitkeep
!/media/**/.gitkeep